@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family:'Varela', sans-serif;
    background-color: #233237; 
}

/* NavBar */
.nav{
    background-color: #233237; 
}

.nav-link{
    color: #EAC67A;
}

.nav-link:hover{
    color: #984B43;
}

@media only screen and (max-width: 900px){
    .nav-link{
        font-size: .5rem;
    }
}
/* Landing */

.landing{
    background-color: #233237;
    color: #EAC67A;
    font-family: 'Permanent Marker', cursive;
    height: 500px;
    font-size: .5rem;
}

.landing-content{
    margin: 200px 100px 0 0;
    text-align: right;
}
.landing-content h3{
    font-size: 2rem;
}

#color-name{
    font-size: 6rem;
    color: #c53211;
}

@media only screen and (max-width: 900px){
    .landing-content{
        margin: 200px 0;
        text-align: center;

    }
    #color-name{
        font-size: 4rem;
        color: #984B43;
    }
}

/* skills */

.skills{
    background-color: #EAC67A;
    color: #233237;
    height: 750px;
    
}

.skill-content{
    margin: 5% 5% 10% 5%;
    
}

.skill-content i {
    font-size: 4rem;
    color: #c53211;
}
.skill-content h3 {
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 3%;
    border-bottom: #984B43 solid;
}
.skills h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
    padding-top: 5%;
}

@media only screen and (max-width: 900px){
    .skills h1{
        font-size: 2rem;
    }
    .skill-content p{
        font-size: .62rem;
    }
    .skill-content h3{
        font-size: 1.5rem;
    }

    .skill-content i {
        font-size: 2.5rem;
        
    }

    .skills{
        height: 1000px; 
    }
}


/* About Me */

.about-me{
    background-color: #984B43;
    color: #192428;
    height: 800px;
}

.about-me-content img{
    width:70%;
    height:90%;
    border-radius:5%;
}

.about-me h1{
    font-family: 'Permanent Marker', cursive;
    padding: 3% 0 5%;
}
.about-me-content h3{
    font-size: 5rem;
}
.about-me-content p{
    font-size: 5rem;
}

@media only screen and (max-width: 900px){
    .about-me-content img{
        width:70%;
        height:70%;
        border-radius:5%;
    }
    .about-me-content h3{
        font-size: 1.5rem;
    }
    .about-me-content p{
        font-size: 1rem;
    }
}

/* projects */

.projects{
    background-color: #192428;
    color: #EAC67A;
    height: 1600px;
}

.project-content{
    padding: 10%;
}

.project-content img{
    width: 90%;
    height: 90%;
}

